In [14]:
df2=df.set_index('a')
df2

   b  c
a
1  2  3
4  5  6

In [19]:
df2.ix[1]

D:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

b    2
c    3
Name: 1, dtype: int64

In [32]:
#随机生成日期
import random
import pandas as pd
from datetime import datetime
def datelist(beginDate, endDate):
    # beginDate, endDate是形如‘20160601’的字符串或datetime格式
    date_l=[datetime.strftime(x,'%Y-%m-%d') for x in list(pd.date_range(start=beginDate, end=endDate))]
    return date_l
datelist('2017-03-01', '2017-04-30')

i=len(datelist('2017-03-01', '2017-04-30'))
j=random.randint(1,i)
date_2=datelist('2017-03-01', '2017-04-30')[j]
date_2

'2017-04-22'

In [50]:
#重新建立transaction data
#schema: transaction_id,member_id,date,amount,payment
f = open('transaction_data_v2.txt','w')
f.write('transaction_id,member_id,date,amount,payment'+'\n')
for i in range(1,101):
    transaction_id=str(i)
    member_id=str(10000+random.randint(1,20))
    i=len(datelist('2017-03-01', '2017-04-30'))
    j=random.randint(0,i-1)
    date_2=datelist('2017-03-01', '2017-04-30')[j]
    amount=str(random.randint(1,20))
    payment=str(random.randint(10,1000))
    f.write(transaction_id+','+member_id+','+date_2+','+amount+','+payment+'\n')
f.close()

In [51]:
g = open('transaction_data_v2.txt','r')
for lines in g:
    print(lines)

transaction_id,member_id,date,amount,payment

1,10004,2017-03-12,14,552

2,10004,2017-04-09,7,608

3,10007,2017-04-27,17,89

4,10008,2017-04-24,8,602

5,10011,2017-03-09,11,275

6,10016,2017-04-11,16,193

7,10014,2017-03-23,8,105

8,10012,2017-04-25,10,664

9,10002,2017-03-24,18,410

10,10005,2017-03-10,2,277

11,10020,2017-04-16,20,27

12,10020,2017-03-07,5,282

13,10013,2017-04-01,19,848

14,10005,2017-03-15,5,183

15,10014,2017-03-17,15,29

16,10015,2017-03-21,13,412

17,10014,2017-04-06,16,437

18,10019,2017-04-04,10,926

19,10007,2017-03-07,20,939

20,10017,2017-03-24,12,618

21,10006,2017-03-04,19,956

22,10011,2017-03-25,10,560

23,10004,2017-03-22,7,723

24,10001,2017-03-13,18,842

25,10002,2017-04-02,4,791

26,10005,2017-04-14,13,472

27,10012,2017-03-17,20,71

28,10007,2017-03-02,2,580

29,10003,2017-03-04,17,233

30,10004,2017-03-06,5,989

31,10013,2017-04-27,19,610

32,10014,2017-03-05,1,234

33,10015,2017-03-14,14,615

34,10020,2017-04-08,13,215

35,10017,2017-04-15,20,216

36,10014,2017-04-30,7,519

37,10001,2017-04-19,6,721

38,10002,2017-03-12,17,99

39,10006,2017-03-25,16,676

40,10012,2017-03-29,13,202

41,10010,2017-03-03,6,327

42,10005,2017-04-16,19,439

43,10001,2017-03-13,9,572

44,10018,2017-04-04,5,235

45,10002,2017-04-19,8,887

46,10020,2017-03-17,2,884

47,10011,2017-04-20,12,642

48,10012,2017-04-23,9,278

49,10014,2017-03-12,19,278

50,10009,2017-03-01,10,70

51,10005,2017-04-16,7,144

52,10018,2017-04-19,4,55

53,10016,2017-04-21,3,96

54,10015,2017-04-21,6,903

55,10012,2017-04-04,13,255

56,10009,2017-04-23,7,450

57,10007,2017-04-11,20,141

58,10008,2017-03-07,20,876

59,10012,2017-03-05,15,802

60,10020,2017-03-27,14,208

61,10006,2017-04-28,13,835

62,10013,2017-03-13,2,567

63,10009,2017-03-27,9,765

64,10018,2017-04-29,4,543

65,10006,2017-04-30,16,645

66,10005,2017-04-06,12,940

67,10013,2017-03-25,7,362

68,10016,2017-04-08,5,511

69,10002,2017-04-16,9,652

70,10008,2017-04-16,16,247

71,10002,2017-03-26,4,973

72,10019,2017-04-03,11,436

73,10017,2017-03-20,11,558

74,10012,2017-04-26,13,577

75,10006,2017-04-10,2,737

76,10009,2017-04-25,6,308

77,10019,2017-03-27,6,930

78,10010,2017-04-07,17,109

79,10018,2017-03-31,17,422

80,10014,2017-04-05,5,387

81,10012,2017-03-09,3,394

82,10020,2017-03-13,3,940

83,10006,2017-03-03,8,479

84,10018,2017-04-07,10,242

85,10003,2017-03-24,19,924

86,10013,2017-04-22,17,829

87,10011,2017-03-23,8,772

88,10006,2017-03-22,11,735

89,10013,2017-04-02,5,151

90,10012,2017-03-28,14,624

91,10018,2017-03-06,11,669

92,10008,2017-04-18,17,847

93,10019,2017-04-14,12,310

94,10016,2017-03-15,7,688

95,10018,2017-03-09,15,705

96,10002,2017-04-24,9,212

97,10008,2017-03-13,19,369

98,10014,2017-03-03,9,391

99,10016,2017-04-13,14,651

100,10003,2017-03-31,17,815

In [204]:
df = pd.read_csv('transaction_data_v2.txt', index_col=0)
df.head()

                member_id        date  amount  payment
transaction_id
1                   10004  2017-03-12      14      552
2                   10004  2017-04-09       7      608
3                   10007  2017-04-27      17       89
4                   10008  2017-04-24       8      602
5                   10011  2017-03-09      11      275

In [69]:
dates = pd.date_range('20130101', periods=6)
i=random.randint(0,len(dates)-1)

2013-01-03 00:00:00 2

In [73]:
d1=dates[0]
d3=dates[2]

NameError: name 'datediff' is not defined

In [74]:
df.head()

                member_id        date  amount  payment
transaction_id
1                   10004  2017-03-12      14      552
2                   10004  2017-04-09       7      608
3                   10007  2017-04-27      17       89
4                   10008  2017-04-24       8      602
5                   10011  2017-03-09      11      275

In [76]:
df.columns

Index(['member_id', 'date', 'amount', 'payment'], dtype='object')

In [79]:
df.member_id.values

array([10004, 10004, 10007, 10008, 10011, 10016, 10014, 10012, 10002,
       10005, 10020, 10020, 10013, 10005, 10014, 10015, 10014, 10019,
       10007, 10017, 10006, 10011, 10004, 10001, 10002, 10005, 10012,
       10007, 10003, 10004, 10013, 10014, 10015, 10020, 10017, 10014,
       10001, 10002, 10006, 10012, 10010, 10005, 10001, 10018, 10002,
       10020, 10011, 10012, 10014, 10009, 10005, 10018, 10016, 10015,
       10012, 10009, 10007, 10008, 10012, 10020, 10006, 10013, 10009,
       10018, 10006, 10005, 10013, 10016, 10002, 10008, 10002, 10019,
       10017, 10012, 10006, 10009, 10019, 10010, 10018, 10014, 10012,
       10020, 10006, 10018, 10003, 10013, 10011, 10006, 10013, 10012,
       10018, 10008, 10019, 10016, 10018, 10002, 10008, 10014, 10016, 10003], dtype=int64)

In [84]:
!ping www.baidu.com

正在 Ping www.a.shifen.com [115.239.211.112] 具有 32 字节的数据:
来自 115.239.211.112 的回复: 字节=32 时间=15ms TTL=54
来自 115.239.211.112 的回复: 字节=32 时间=15ms TTL=54
来自 115.239.211.112 的回复: 字节=32 时间=15ms TTL=54
来自 115.239.211.112 的回复: 字节=32 时间=15ms TTL=54

115.239.211.112 的 Ping 统计信息:
    数据包: 已发送 = 4，已接收 = 4，丢失 = 0 (0% 丢失)，
往返行程的估计时间(以毫秒为单位):
    最短 = 15ms，最长 = 15ms，平均 = 15ms

In [85]:
%ls

 驱动器 C 中的卷没有标签。
 卷的序列号是 D620-CD7D

 C:\Users\Black\Python Script 的目录

2018/01/05  01:19               786  django.ipynb
2018/02/15  00:39    <DIR>          .
2018/02/15  00:39    <DIR>          ..
2018/02/14  22:27    <DIR>          .ipynb_checkpoints
2018/01/07  02:17    <DIR>          __pycache__
2017/12/31  03:28             7,358 171231.ipynb
2018/01/02  00:20            69,238 180101.ipynb
2018/01/03  00:54             3,298 180102.ipynb
2018/01/05  01:07             4,754 180104.ipynb
2018/01/07  03:08             7,566 180106.ipynb
2018/01/15  01:23           132,747 180114.ipynb
2018/02/15  00:39            17,347 DataFrame研究.ipynb
2018/01/02  09:45    <DIR>          HDFS download
2018/01/21  23:13    <DIR>          history
2018/01/02  09:46    <DIR>          kennethreitz-requests-ddf7df9
2018/01/01  00:37             1,140 list&set.ipynb
2018/01/02  09:46    <DIR>          Pillow-3.3.1
2018/02/15  00:36             1,882 study plan.ipynb
2018/02/15  00:07             2,787 transaction_data_v2.txt
2018/01/15  23:45             2,509 transaction_demo
2018/02/14  22:23           128,034 transaction_interval_calculate.ipynb
              13 个文件        379,446 字节
               8 个目录  8,449,306,624 可用字节

In [86]:
%lsmagic

Available line magics:
%alias  %alias_magic  %autocall  %automagic  %autosave  %bookmark  %cd  %clear  %cls  %colors  %config  %connect_info  %copy  %ddir  %debug  %dhist  %dirs  %doctest_mode  %echo  %ed  %edit  %env  %gui  %hist  %history  %killbgscripts  %ldir  %less  %load  %load_ext  %loadpy  %logoff  %logon  %logstart  %logstate  %logstop  %ls  %lsmagic  %macro  %magic  %matplotlib  %mkdir  %more  %notebook  %page  %pastebin  %pdb  %pdef  %pdoc  %pfile  %pinfo  %pinfo2  %popd  %pprint  %precision  %profile  %prun  %psearch  %psource  %pushd  %pwd  %pycat  %pylab  %qtconsole  %quickref  %recall  %rehashx  %reload_ext  %ren  %rep  %rerun  %reset  %reset_selective  %rmdir  %run  %save  %sc  %set_env  %store  %sx  %system  %tb  %time  %timeit  %unalias  %unload_ext  %who  %who_ls  %whos  %xdel  %xmode

Available cell magics:
%%!  %%HTML  %%SVG  %%bash  %%capture  %%cmd  %%debug  %%file  %%html  %%javascript  %%js  %%latex  %%markdown  %%perl  %%prun  %%pypy  %%python  %%python2  %%python3  %%ruby  %%script  %%sh  %%svg  %%sx  %%system  %%time  %%timeit  %%writefile

Automagic is ON, % prefix IS NOT needed for line magics.

In [94]:
%pycat transaction_data_v2.txt

In [92]:
!dir

 驱动器 C 中的卷没有标签。
 卷的序列号是 D620-CD7D

 C:\Users\Black\Python Script 的目录

2018/02/15  00:41    <DIR>          .
2018/02/15  00:41    <DIR>          ..
2018/01/05  01:19               786  django.ipynb
2018/02/14  22:27    <DIR>          .ipynb_checkpoints
2017/12/31  03:28             7,358 171231.ipynb
2018/01/02  00:20            69,238 180101.ipynb
2018/01/03  00:54             3,298 180102.ipynb
2018/01/05  01:07             4,754 180104.ipynb
2018/01/07  03:08             7,566 180106.ipynb
2018/01/15  01:23           132,747 180114.ipynb
2018/02/15  00:41            27,189 DataFrame研究.ipynb
2018/01/02  09:45    <DIR>          HDFS download
2018/01/21  23:13    <DIR>          history
2018/01/02  09:46    <DIR>          kennethreitz-requests-ddf7df9
2018/01/01  00:37             1,140 list&set.ipynb
2018/01/02  09:46    <DIR>          Pillow-3.3.1
2018/02/15  00:36             1,882 study plan.ipynb
2018/02/15  00:07             2,787 transaction_data_v2.txt
2018/01/15  23:45             2,509 transaction_demo
2018/02/14  22:23           128,034 transaction_interval_calculate.ipynb
2018/01/07  02:17    <DIR>          __pycache__
              13 个文件        389,288 字节
               8 个目录  8,449,855,488 可用字节

In [98]:
for x in df.member_id:
    print(x)

10004
10004
10007
10008
10011
10016
10014
10012
10002
10005
10020
10020
10013
10005
10014
10015
10014
10019
10007
10017
10006
10011
10004
10001
10002
10005
10012
10007
10003
10004
10013
10014
10015
10020
10017
10014
10001
10002
10006
10012
10010
10005
10001
10018
10002
10020
10011
10012
10014
10009
10005
10018
10016
10015
10012
10009
10007
10008
10012
10020
10006
10013
10009
10018
10006
10005
10013
10016
10002
10008
10002
10019
10017
10012
10006
10009
10019
10010
10018
10014
10012
10020
10006
10018
10003
10013
10011
10006
10013
10012
10018
10008
10019
10016
10018
10002
10008
10014
10016
10003

In [125]:
df.loc[2:3]

                member_id        date  amount  payment
transaction_id
2                   10004  2017-04-09       7      608
3                   10007  2017-04-27      17       89

In [127]:
df.loc[2:3,['member_id','date']]

                member_id        date
transaction_id
2                   10004  2017-04-09
3                   10007  2017-04-27

In [133]:
df.loc[2,['member_id','date']]

member_id         10004
date         2017-04-09
Name: 2, dtype: object

In [141]:
data = [[1,2,3],[4,5,6]]    
index = ['d','e']    
columns=['a','b','c']    
dg = pd.DataFrame(data=data, index=index, columns=columns)   
dg

   a  b  c
d  1  2  3
e  4  5  6

In [142]:
dg.loc['d']

a    1
b    2
c    3
Name: d, dtype: int64

In [146]:
dg.iloc[0]

a    1
b    2
c    3
Name: d, dtype: int64

In [149]:
df.groupby('member_id').date.min()

member_id
10001    2017-03-13
10002    2017-03-12
10003    2017-03-04
10004    2017-03-06
10005    2017-03-10
10006    2017-03-03
10007    2017-03-02
10008    2017-03-07
10009    2017-03-01
10010    2017-03-03
10011    2017-03-09
10012    2017-03-05
10013    2017-03-13
10014    2017-03-03
10015    2017-03-14
10016    2017-03-15
10017    2017-03-20
10018    2017-03-06
10019    2017-03-27
10020    2017-03-07
Name: date, dtype: object

In [236]:
#分用户最初购买时间
df2= df.groupby('member_id').date.min()
df3=df.groupby('member_id').date.max()
df2

member_id
10001    2017-03-13
10002    2017-03-12
10003    2017-03-04
10004    2017-03-06
10005    2017-03-10
10006    2017-03-03
10007    2017-03-02
10008    2017-03-07
10009    2017-03-01
10010    2017-03-03
10011    2017-03-09
10012    2017-03-05
10013    2017-03-13
10014    2017-03-03
10015    2017-03-14
10016    2017-03-15
10017    2017-03-20
10018    2017-03-06
10019    2017-03-27
10020    2017-03-07
Name: date, dtype: object

In [254]:
#分用户购买次数
df4=df.groupby('member_id').date.count()
df4

member_id
10001    3
10002    7
10003    3
10004    4
10005    6
10006    7
10007    4
10008    5
10009    4
10010    2
10011    4
10012    9
10013    6
10014    8
10015    3
10016    5
10017    3
10018    7
10019    4
10020    6
Name: date, dtype: int64

In [188]:
#distinct计算
df.date.nunique()

53

In [203]:
a=np.random.randn(6)
b=pd.date_range('3/6/2012 00:00', periods=5, freq='D')
%whos

Variable         Type             Data/Info
-------------------------------------------
a                ndarray          6: 6 elems, type `float64`, 48 bytes
amount           str              17
b                DatetimeIndex    DatetimeIndex(['2012-03-0<...>atetime64[ns]', freq='D')
columns          list             n=3
d1               Timestamp        2013-01-01 00:00:00
d3               Timestamp        2013-01-03 00:00:00
data             list             n=2
date_2           str              2017-03-31
datelist         function         <function datelist at 0x0000000007C76840>
dates            DatetimeIndex    DatetimeIndex(['2013-01-0<...>atetime64[ns]', freq='D')
datetime         type             <class 'datetime.datetime'>
df               DataFrame                        member_id<...>n\n[100 rows x 4 columns]
df2              Series           member_id\n10001    2017-<...>Name: date, dtype: object
df3              Series           member_id\n10001    2017-<...>Name: date, dtype: object
dg               DataFrame           a  b  c\nd  1  2  3\ne  4  5  6
f                TextIOWrapper    <_io.TextIOWrapper name='<...>ode='w' encoding='cp936'>
g                TextIOWrapper    <_io.TextIOWrapper name='<...>ode='r' encoding='cp936'>
i                int              2
index            list             n=2
j                int              30
lines            str              100,10003,2017-03-31,17,815\n
member_id        str              10003
np               module           <module 'numpy' from 'D:\<...>ges\\numpy\\__init__.py'>
payment          str              815
pd               module           <module 'pandas' from 'D:<...>es\\pandas\\__init__.py'>
random           module           <module 'random' from 'D:<...>aconda3\\lib\\random.py'>
transaction_id   str              100
x                int64            10003

In [233]:
dg=pd.DataFrame(df2,columns=['member_id,','date'])

          member_id,        date
member_id
10001            NaN  2017-03-13
10002            NaN  2017-03-12
10003            NaN  2017-03-04
10004            NaN  2017-03-06
10005            NaN  2017-03-10
10006            NaN  2017-03-03
10007            NaN  2017-03-02
10008            NaN  2017-03-07
10009            NaN  2017-03-01
10010            NaN  2017-03-03
10011            NaN  2017-03-09
10012            NaN  2017-03-05
10013            NaN  2017-03-13
10014            NaN  2017-03-03
10015            NaN  2017-03-14
10016            NaN  2017-03-15
10017            NaN  2017-03-20
10018            NaN  2017-03-06
10019            NaN  2017-03-27
10020            NaN  2017-03-07

In [223]:
dg2=pd.DataFrame(df3)
dg2.columns=['max_date']
dg2.head()

             max_date
member_id
10001      2017-04-19
10002      2017-04-24
10003      2017-03-31
10004      2017-04-09
10005      2017-04-16

In [237]:
dh=pd.merge(df2, df3, on='member_id')
dh

ValueError: can not merge DataFrame with instance of type <class 'pandas.core.series.Series'>

In [291]:
dg2=pd.DataFrame(df3)
dg2.columns=['max_date']
dg2.head()

             max_date
member_id
10001      2017-04-19
10002      2017-04-24
10003      2017-03-31
10004      2017-04-09
10005      2017-04-16

In [297]:
#将每个用户的最初，最终购买时间，购买次数放到一张表
d = {'min_date' : df2,
     'max_date' : df3,
        'times':df4,}
dg = pd.DataFrame(d)
dg['std_min_date']=pd.to_datetime(dg.min_date,format='%Y-%m-%d')
dg['std_max_date']=pd.to_datetime(dg.max_date,format='%Y-%m-%d')
dg['average_interval']=(dg.std_max_date-dg.std_min_date)/(dg.times-1)

dg['test2']=dg.times*2

In [299]:
dg.head()

,max_date,min_date,times,std_min_date,std_max_date,average_interval,test2
member_id,,,,,,,
10001,2017-04-19,2017-03-13,3,2017-03-13,2017-04-19,18 days 12:00:00,6
10002,2017-04-24,2017-03-12,7,2017-03-12,2017-04-24,7 days 04:00:00,14
10003,2017-03-31,2017-03-04,3,2017-03-04,2017-03-31,13 days 12:00:00,6
10004,2017-04-09,2017-03-06,4,2017-03-06,2017-04-09,11 days 08:00:00,8
10005,2017-04-16,2017-03-10,6,2017-03-10,2017-04-16,7 days 09:36:00,12

In [300]:
dg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 10001 to 10020
Data columns (total 7 columns):
max_date            20 non-null object
min_date            20 non-null object
times               20 non-null int64
std_min_date        20 non-null datetime64[ns]
std_max_date        20 non-null datetime64[ns]
average_interval    20 non-null timedelta64[ns]
test2               20 non-null int64
dtypes: datetime64[ns](2), int64(2), object(2), timedelta64[ns](1)
memory usage: 1.9+ KB

In [ ]:
from datetime import timedelta
from datetime import datetime
import time

d1 = datetime.now()
time.sleep(10)
eclipseTimes = datetime.now() - d1
print(eclipseTimes)
print(d1)

In [ ]:
print('a')